.footer {
  text-align: center;
  padding: 1rem 0; /* Adjust padding for a smaller footer */
  background-color: #585858; /* Opaque gray background */
  box-shadow: none !important;
  z-index: 1; 
  width: 100%; 
  position: fixed; /* Stick to the bottom */
  left: 0; /* Align to the left */
  bottom: 0; /* Position at the bottom */
}

.footer-text {
  margin: 0.5rem 0;
  font-size: 1rem;
  color: #080808; /* Darker text color for better contrast */
}

.footer-links {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 1rem; /* Adjust as needed */
}

.footer-links a {
  color: #278d0d; 
  text-decoration: none;
}
