/* Footer.css */
.footer {
  text-align: center;
  padding: 10px 0; /* Adjusted padding */
  background-color: #6e6e6e; /* Opaque gray background */
  color: #ffffff; /* White color for text */
  box-shadow: none; 
  z-index: 1; 
  width: 100%; 
  position: fixed; /* Stick to the bottom */
  left: 0; /* Align to the left */
  bottom: 0; /* Position at the bottom */
}

.footer-text {
  margin: 0.25rem 0;
  font-size: 1rem;
}

.footer-links {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 0; /* Adjust as needed */
}

.footer-links a {
  color: #11552b; /* Different color for links */
  text-decoration: none;
}

.footer-links a:hover {
  color: #ffffff; /* Change color on hover for links */
}
.footer-contact {
  margin-top: 10px; /* Optional: add some space above contact info */
  font-size: 0.75rem; /* Adjust font size for contact info (smaller) */
  color: #efdcdc; /* Match contact text color to the rest of the footer */
}

.footer-contact a {
  color: #05b454; /* Bootstrap primary color for contact links */
}

.footer-contact a:hover {
  text-decoration: underline; /* Optional: adds underline on hover */
}