/* Footer.css */
.footer {
  background-color: #898888;
  color: rgb(254, 252, 252);
  text-align: center;
  position: fixed; /* Fix it at the bottom of the page */
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1; /* Keeps the footer on top of other elements */
  
  border-radius: 10px 10px 10px 10px; /* Rounded top corners */
}

.footer-wrapper {
  max-width: 1000px; /* Limit the width of the footer content */
  margin: 0 auto; /* Center the footer content horizontally */
 
}

.footer-text {
  margin: 0;
  font-size: 14px;
}

.footer-links {
  margin-top: 10px;
}

.footer-links a {
  color: #f8f9fa;
  margin: 0 15px;
  text-decoration: none;
}

.footer-links a:hover {
  text-decoration: underline;
}

.footer p {
  margin-top: 15px;
  font-size: 12px;
}

.footer a {
  color: #f8f9fa;
}
