.footer {
  text-align: center;
  padding: 1rem 0; /* Adjust padding for a smaller footer */
  background-color: #6e6e6e; /* Opaque gray background */
  box-shadow: none !important;
  z-index: 1; 
  width: 100%; 
  position: fixed; /* Stick to the bottom */
  left: 0; /* Align to the left */
  bottom: 0; /* Position at the bottom */
}

.footer-text {
  margin: 0.5rem 0;
  font-size: 1rem;
  color: #ffffff; /* White color for the copyright text */
}

.footer-links {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 1rem; /* Adjust as needed */
}

.footer-links a {
  color: #11552b; /* Different color for links */
  text-decoration: none;
}

.footer-links a:hover {
  color: #ffffff; /* Optional: Change color on hover for links */
}

