.header {
    background-color: #6e6e6e; /* Background color */
    padding: 0.25rem 1rem; /* Padding for the header */
    z-index: 1000; /* Ensures it stays above other content */
}

.navbar-logo {
    width: 40px; /* Adjust logo width */
    height: auto; /* Maintain aspect ratio */
    margin-right: 10px; /* Space between logo and text */
}

.brand-name {
    vertical-align: middle; /* Align text vertically with the logo */
    font-size: 0.5rem; /* Font size */
    color: #ffffff; /* Text color */
}

.nav-link {
    color: #048711; /* Nav link color */
}

.nav-link:hover {
    color: #c0c0c0; /* Hover color for links */
}
