.header {
    background-color: #fffdfd; /* Background color */
    padding: 0.25rem 1rem; /* Padding for the header */
    z-index: 1000; /* Ensures it stays above other content */
    border-radius: 10px 10px 10px 10px; /* Rounded top corners */
}
.navbar {
    background-color: #898888 !important; /* Force dark background */
  }

.navbar-logo {
    width: 40px; /* Adjust logo width */
    height: auto; /* Maintain aspect ratio */
    margin-right: 10px; /* Space between logo and text */
}

.brand-name {
    vertical-align: middle; /* Align text vertically with the logo */
    font-size: 2rem; /* Font size */
    color: #0e4019; /* Text color */
}

.nav-link {
    color: #f4eeee; /* Nav link color */
}

.nav-link:hover {
    text-decoration: underline;
} 
