.user-form button {
    font-weight: bold; /* Bold text on the button */
    background-color: #0e4019    ; /* Green background */
    color: white; /* White text */
    transition: background-color 0.3s, transform 0.2s; /* Smooth transition for hover and click */
    padding: 12px 20px; /* Padding inside the button */
    border-radius: 4px; /* Slightly rounded corners */
    border: none; /* Remove border for the button */
    width: 100%; /* Make the button stretch across the container */
    box-sizing: border-box; /* Ensure padding does not affect width */
    overflow: hidden; /* Hide anything that overflows the label */
}


/* Button hover effect */
.user-form button:hover {
    background-color: black;
    ; /* Darker green on hover */
    transform: scale(1.05); /* Slightly enlarge the button on hover */
}
