body {
  margin: 0;
  padding: 0;
 /* width: 100vw;   Full viewport width */
  height: 100vh; /* Full viewport height */
  
}



  
.admin-container {
  width: 75vw; /* Full width of the container */

  margin: 50px auto; /* Center the container horizontally with margin auto */
  padding: 20px; /* Padding inside the box */
  background-color: #006847ea; /* Green background for the box */
  border-radius: 8px; /* Rounded corners */
 
  
  /* Flexbox to center content */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

  .admin-form {
    flex-grow: 1; /* Allow the form to grow and fill the space */
    display: flex; /* Use flexbox to manage layout */
    flex-direction: column; /* Stack elements vertically */
  } 
  