 body {
    height: 100%; /* Ensure the body takes full height */
    
  }
  
  .home-container {
    display: flex; /* Enable flexbox */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 100vh; /* Full height of the viewport */
    z-index: 10;
    margin-top:100px ;
    margin-bottom: 100px;
  }
  
  .box {
    padding: 20px; /* Padding around the text */
    background-color: #ffffff; /* White background for the box */
    text-align: center; /* Center the text */
    border: 1px solid #ccc; /* Light gray border */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    max-width: 600px; /* Limit the width of the box */
    width: 100%; /* Full width of the box */
    
  }
  