
  
  .home-container {
    display: flex; /* Enable flexbox */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    
    z-index: 10;
    margin-top:100px ;
    margin-bottom: 100px;
    flex-grow: 1;
  }
  
  .test {
    position: fixed; /* Fixes the footer at the bottom of the viewport */
    bottom: 0; /* Sticks to the bottom */
    width: 95%;
    justify-content: center; /* Centers the content horizontally */
    align-items: center; /* Centers the content vertically */
    margin-bottom: 10px;
    z-index: 10;
  }
  