
  
  .home-container {
    display: flex; /* Enable flexbox */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    
    z-index: 10;
    margin-top:100px ;
    margin-bottom: 100px;
    flex-grow: 1;
  }
  
