.privacy-policy {
    padding: 20px;
    font-family: Arial, sans-serif;
    background-color: #fef7f7;
  }
  
  .privacy-policy h1 {
    color: #f1ecec;
  }
  
  .privacy-policy h2 {
    color: #444;
  }
  
  .privacy-policy p {
    font-size: 16px;
    line-height: 1.6;
  }
  