/* ResetPassword.css */
.reset-password-container {
  max-width: 400px;
  margin: 200px auto;
  padding: 20px;
  background-color: rgb(128, 128, 128);
  position: relative;
  z-index: 2;
  border-radius: 15px
}
  
  .reset-password-container h2 {
    text-align: center;
    color: #f4f0f0;
  }
  
  .reset-password-form {
    display: flex;
    flex-direction: column;
    background-color: #828282;
  }
  
  .reset-password-form .form-group {
    margin-bottom: 15px;
  }
  
  .reset-password-form label {
    font-size: 1rem;
    color: #fcf7f7;
    display: block;
    margin-bottom: 5px; /* Space between label and input */
  }
  
  .reset-password-form input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    font-size: 1rem;
  }
  
  .reset-password-form button {
    padding: 10px;
    background-color: #0e4019;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .reset-password-form button:disabled {
    background-color: #ccc;
  }
  