/* ResetPassword.css */
.reset-password-container {
    max-width: 400px;
    margin: 100px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 2;
  }
  
  .reset-password-container h2 {
    text-align: center;
    color: #333;
  }
  
  .reset-password-form {
    display: flex;
    flex-direction: column;
  }
  
  .reset-password-form .form-group {
    margin-bottom: 15px;
  }
  
  .reset-password-form label {
    font-size: 1rem;
    color: #333;
    display: block;
    margin-bottom: 5px; /* Space between label and input */
  }
  
  .reset-password-form input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    font-size: 1rem;
  }
  
  .reset-password-form button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .reset-password-form button:disabled {
    background-color: #ccc;
  }
  