
/* Parent container for side-by-side layout */
.user-settings-wrapper {
  margin-top: 10px;
  margin-bottom: 150px;
  background-color:  transparent;
  z-index: 100;
  display: flex;
 
  
  max-width: 1000px; /* You can adjust the max-width as necessary */
  width: 100%;
  justify-content: center; /* Center content horizontally */
  align-items: flex-start; /* Align items to the top */
  margin-left: auto; /* Center container horizontally */
  margin-right: auto; /* Center container horizontally */
  
  border-radius: 15px 15px 15px 15px; /* Rounds top-left and bottom-right */
  
  

}


/* Individual user settings container */
.user-settings-container {
  
  background-color: rgb(128, 128, 128) !important; /* Force background color */
 
  flex-direction: column;
  align-items: center;
  width: 48%; /* Adjust width to fit two containers side by side */
  max-width: 500px;
  min-height: 50vh;
  
  
}

/* Title for user settings */
.user-settings-title {
  font-size: 2rem;
  text-align: center;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  color: white;
}

/* User info display area */
.user-info-display {
  margin-top: 50px;
  height: 100vh; /* Allow container to grow with content */
  overflow: hidden; /* Prevent any content from overflowing the container */
  text-align: center;
  position: relative;
  color: white;
}

/* User info text style */
.user-info-display p {
  font-size: 1.1rem;
}

/* Edit button style */
.user-info-display button {
  margin-top: 1rem;
  z-index: 2;
  padding: 0.5rem 1rem;
  background-color: #0e4019;
  border: none;
  color: white;
  font-size: 1.1rem;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

/* Edit button hover effect */
.user-info-display button:hover {
  background-color: #03851f;
}

/* Cancel button style (close X) */
.cancel-btn {
  position: absolute;
  top: -14px;
  right: 10px;
  background: transparent;
  border: none;
  color: #333;
  font-size: 2rem;
  cursor: pointer;
  padding: 0;
  z-index: 3;
  transition: color 0.3s ease;
}

/* Cancel button hover effect */
.cancel-btn:hover {
  color: #f7f7f7;
}
