.centered-container {
    background-color: gray;
    margin-top: 100px;
    margin-bottom: 120px;
    z-index: 100;
    padding: 10px;
    border-radius: 15px; /* Adjust the value for more or less rounded edges */
    
   
    margin-left: auto;
    margin-right: auto; /* Center the container horizontally */

}
.user-form{
 /* Center the container horizontally and vertically */
 display: flex;
 flex-direction: column; /* Stack child elements vertically */
 justify-content: center; /* Align items vertically in the container */
 align-items: center; /* Center items horizontally */

 /* Limit the maximum width */
 height: fit-content;
 max-width: 800px; /* You can adjust this value to control how large it can grow */
 width: auto; /* Allow it to shrink if necessary */
 
 
 /* Optional: Add a fixed height or min-height if needed */
 min-height: 200px; /* Optional, adjust based on your layout */
}
