/* UserPage.css */

/* Main container that should take up the full height of the viewport */
.main-content {
  
  scrollbar-width: none; /* Hide scrollbar */
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Ensure footer stays at the bottom */
}

/* Header styles */
.header, .header  .header p {
  background-color: transparent; /* Light background */
  padding: 5px;
  text-align: center; /* Center the header text */
  color: #ffffff;
  position: relative;
  z-index: 100; /* Bring header to front */
}
h1{
  margin-bottom: 0;
}

/* Flex container for the spreadsheet form */
.spreadsheet-container {
  margin-top: 50px; /* Space from top */
  background-color: rgb(128, 128, 128); /* Background color */
  border-radius: 8px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Align form at the top */
  align-items: center; /* Horizontally center */
  width: 90%; /* Set width to 90% of the parent */
  max-width: 800px; /* Max width of container */
  position: relative;
  margin-bottom: 80px; /* Space for the footer */
  z-index: 100;
  scrollbar-width: none; /* Hide scrollbar */
}

/* Modal Content Styling */
.modal-dialog {
  margin-left:100px ;
  justify-content: center;
  align-items: center;
  position:relative;
  margin: auto auto;
  border-radius: 10px;
  padding: 20px;
  overflow: hidden;
}


/* Form content inside the spreadsheet container */
.spreadsheet-container .form-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%; /* Ensure the form uses full width */
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .header {
    font-size: 1.5rem; /* Smaller font size on mobile */
  }

  .spreadsheet-container {
    padding: 20px; /* Reduced padding on smaller screens */
    max-height: calc(100vh - 120px); /* Adjust max height */
  }
}
