/* App.css */
html, body {
  height: 100%; /* Ensure full height for html and body */
  margin: 0; /* Remove default margin */
  /* Prevent horizontal scrolling */
}

body {
  display: flex; /* Use flexbox */
  flex-direction: column; /* Stack children vertically */
}

.main-content {
  flex: 1; /* Allow the main content to take available space */
  overflow-y: auto; /* Enable vertical scrolling within content if needed */
  overflow-x: hidden; 

  min-height: calc(80vh); /* Adjust height to fill screen minus footer height */
}

.footer {
  text-align: center;
  padding: 1rem 0; /* Padding for the footer */
  background-color: #6e6e6e; /* Opaque gray background */
  box-shadow: none !important;
  z-index: 1; 
  width: 100%; 
  position: relative; /* Allow it to flow naturally */
}

.footer-text {
  margin: 0.25rem 0;
  font-size: 1rem;
  color: #ffffff; /* White color for the copyright text */
}

.footer-links {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 0; /* Adjust as needed */
}

.footer-links a {
  color: #f3f6f4; /* Link color */
  text-decoration: none;
}

.footer-links a:hover {
  color: #ffffff; /* Hover color for links */
}
.privacy-policy {
  padding: 20px;
  font-family: Arial, sans-serif;
}

.terms-of-service {
  padding: 20px;
  font-family: Arial, sans-serif;
}
